[workspace]
members = ["KNN"]

[package]
name = "Classification-Analysis-Rust"
version = "0.1.0"
edition = "2021"

[workspace.dependencies]
polars = "0.41.3"
polars-io = "0.41.3"
plotly = { version = "0.9.0", features = ["kaleido"] }