[workspace]
members = ["KNN", "data_frame_plotter"]

[package]
name = "Classification-Analysis-Rust"
version = "0.1.0"
edition = "2021"

[workspace.dependencies]
polars = "0.41.3"
polars-io = "0.41.3"
plotly = { git = "https://github.com/yasuomaidana/plotly.rs", branch = "multiples-axis", features = ["kaleido"] }
